{% extends 'base.html.twig' %}

{% block title %}Role{% endblock %}

{% block body %}
    <h1>Role</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ role.id }}</td>
            </tr>
            <tr>
                <th>RoleName</th>
                <td>{{ role.roleName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_role1_index') }}">back to list</a>

    <a href="{{ path('app_role1_edit', {'id': role.id}) }}">edit</a>

    {{ include('role1/_delete_form.html.twig') }}
{% endblock %}
